html,
body {
    /* 視情況使用 */
    overflow-y: hidden;
}

body {
    overflow-x: auto;
}

#notes-upload-form {
    max-width: 600px;
    margin: 30px auto;
}

#file-input-notes {
    margin: 20px 0;
}

#alert-placeholder-notes {
    max-width: 600px;
    margin: 0 auto;
}